/*Estilo del Body*/
body{
    background-image: url("imagenes/imagen5.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    max-width: 90%;
    font-family: 'Klee One', cursive;
    
}
/*Estilos del Header*/
.contenedor{
    display: flex;
    float: left;
    width: 100%;
}
.foto_perfil{
    border-radius: 100px;
    display: flex;
    float: left;
    top: 25px;
    max-width: 1000px;
    min-width: 100px;
    border: 5px solid #118ab2;
}
/*Estilos de Nav Bar o Menú*/
#mostrar{
    display: none;
}
.nav_bar{
    display: flex;
    float: left;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: #b8d0eb;
    color: #1b4965;
}
.nav_bar:hover{
    background-color: #036666;
}
.nav_bar a:link{
    color: #1b4965;
}
.boton_menu{
    background-color: #b8d0eb;
    border-radius: 5px;
    border: #b8d0eb;
}
.boton_menu i {
    font-size: small;
}
.boton_menu i:hover {
    color: #f94144;
}
.boton_menu:hover {
    background-color: #036666;
}
a{
    text-decoration: none;
    color: #003459;
}
a:hover{
    color: #f94144;
}
aside{
    width: 15%;
}
/*Estilos de Seccion*/
.columna_derecha{
    max-width: 25%;
    min-width: 25%;
    text-align: left;
    float: right;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 25%;
}
.columna_izquierda{
    float: left;
    padding-left: 15%;
    padding-right: 15%;
    max-width: 25%;
    min-width: 25%;
    text-align: left;
}
li{
    text-align: left;
}
.sin_puntos{
    list-style: none;
    text-align: left;
}
i{
    margin: 5px;
    padding: 5px;
    color: #1b4965;
    font-size: 25px;
}
dd{
    margin: 15px;
    padding-left: 15px;
    text-align: left;
}
dt{
    text-decoration: underline #003459;
    text-align: left;
}